﻿@page "/"

@using SystemMonitor.Shared;
@using Microsoft.AspNetCore.SignalR;
@using Microsoft.AspNetCore.SignalR.Client;
@inject Microsoft.AspNetCore.Components.NavigationManager Navigation;

<h1>System Monitor</h1>
<button @onclick="changeFrequence">Change Update Frequence</button>
<input type="number" name="frequence" @bind-value="frequense" />
<p><label class="text-danger">@updateFrequenceError</label></p>
<p><label class="text-danger">@connectError</label></p>
@if (resources == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@nameof(ServerRecourcesModel.Ip)</th>
                <th>@nameof(ServerRecourcesModel.CpuLoadPercent)</th>
                <th>@nameof(ServerRecourcesModel.RamFreeMegabytes)</th>
                <th>@nameof(ServerRecourcesModel.RamTotalMegabytes)</th>
                <th>@nameof(ServerRecourcesModel.DriverInfos) Gigabytes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in resources)
            {
                <tr>
                    <td>@r.Ip</td>
                    <td>@Math.Round(r.CpuLoadPercent, 2)</td>
                    <td>@r.RamFreeMegabytes</td>
                    <td>@r.RamTotalMegabytes</td>
                    <td>
                        <ul>
                            @foreach (var d in r.DriverInfos)
                            {
                                <li>@Format(d)</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    int frequense;
    string updateFrequenceError;
    string connectError;
    ServerRecourcesModel[] resources;
    HubConnection hub;
    protected override async Task OnInitializedAsync()
    {
        hub = new HubConnectionBuilder()
             .WithUrl(Navigation.ToAbsoluteUri("monitoringHub"))
             .WithAutomaticReconnect()
             .Build();
        hub.On<ServerRecourcesModel[]>("ResourceAdded", model =>
        {
            resources = model;
            this.StateHasChanged();
        });

        await Connect(hub);
    }

    async Task changeFrequence()
    {
        try
        {
            await hub.InvokeAsync("UpdateFrecuense", frequense);
            updateFrequenceError = null;
        }
        catch (HubException ex)
        {
            updateFrequenceError = ex.Message;
        }
        catch (Exception ex)
        {
            updateFrequenceError = $"Произошла неизвестная ошибка: {ex.Message}";
            await Connect(hub);
        }
    }

    private async Task Connect(HubConnection connection)
    {
        while (connection.State == HubConnectionState.Disconnected)
        {
            try
            {
                await connection.StartAsync();
                connectError = null;
            }
            catch (Exception ex)
            {
                connectError = $"Произошла ошибка при попытке подключения к серверу: {ex.Message}";
            }
        }
    }

    string Format(DriverInfoModel model) => $"{model.Name}: {model.TotalFreeGigabytes} из {model.TotalGigabytes}";
}
